body
{
    background-color: black;
}

#formulario
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    border: 1px solid black;
    width: 500px;
    border-radius: 10px;
    background-color: rgb(88, 88, 202);
}

#formulario >*
{
    margin-top: 10px;
    margin-bottom: 10px;
}

