ul
{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    border: 1px solid black;
    width: 500px;
    border-radius: 10px;
    background-color: rgb(88, 88, 202);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

ul >*
{
    color: white;
    list-style-type: none; 
    margin-left: 10px;
}

button
{
    margin-left: 25px;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 25px;
}

.editarBoton:hover
{
    background-color: bisque;
}

.eliminarBoton:hover
{
    background-color: rgb(244, 84, 84);
}